[Desktop Entry]
Encoding=UTF-8
Version=3.0
Type=Application
Terminal=false
Exec=/bin/bash /home/sky/.local/bin/LG.sh
Name=looking-glass
Icon=/home/sky/.local/share/applications/looking-glass.png