[Desktop Entry]
Name=SOULCALIBUR VI
Comment=Play this game on Steam
Exec=steam steam://rungameid/544750
Icon=steam
Terminal=false
Type=Application
Categories=Game;
